.container {
  font-family: 'Encode Sans Expanded', sans-serif;

}

#searchButton,
#searchAgainButton {
  width: 50%;
  background-color: #00bf63;
}
.custom-background {
  background-color: #efebe5;
}

#app-logo {
  padding-top: 50px;
}



#placeholder1 {
  padding-top: 75px;
}

/* nav bar */
.nav-wrapper {
  background-color:  #ff3131;
  justify-content: space-between;
  align-items: center;

}

.waves-effect {
  background-color: black;
  color: aliceblue;
  justify-content: space-between;
}


#results-card{

   padding-top: 100px;
  
  
 
}

@media screen and (max-width: 992px) {

}