/*changes as needed*/
.header{ /*keeps position of search bar at top of page*/
    position:fixed;
    top:0;
}

#button {
  
      }


.container {
    display: flex;
    flex-direction: column;
    column-gap: 20px;

}

.footer {
    background: #2db34a;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

}

#search {
    position: relative; 
}